:root {
	--amaranth: hsla(25, 93%, 53%, 1.00);
	--ecstasy: hsla(344, 73%, 51%, 1.00);
	--cinder: hsla(260, 23%, 7%, 1);
	--tangerine: hsla(48, 100%, 50%, 1.00);
	--medium-spring-green: hsla(154, 99%, 55%, 1.00);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 60px;
    background: var(--cinder);
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.stars i, .stars i:hover ~ i {
    padding: 0 15px;
    color: var(--medium-spring-green);
    opacity: 0.5;
    text-shadow: none;
    transition: color 200ms, text-shadow 200ms, opacity 200ms;
    transition-delay: 0;
}

.stars:hover i {
  color: var(--medium-spring-green);
  opacity: 1;
  text-shadow: var(--medium-spring-green) 0 0 20px;
}

.stars:hover i:nth-child(2) {
  transition-delay: 30ms;
}

.stars:hover i:nth-child(3) {
  transition-delay: 60ms;
}

.stars:hover i:nth-child(4) {
  transition-delay: 90ms;
}

.stars:hover i:nth-child(5) {
  transition-delay: 120ms;
}
