:root {
	--background: hsl(260, 23%, 7%);
	--glow-dark: hsl(154, 99%, 55%);
	--pale-light: hsl(164, 67%, 70%);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 60px;
    background: var(--background);
}

.stars {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
}

.stars i, .stars i:hover ~ i {
    padding: 0 5px;
    color: var(--pale-light);
    text-shadow: none;
    transition: color 200ms, text-shadow 200ms;
    transition-delay: 0;
}

.stars:hover i {
  color: var(--glow-dark);
  text-shadow: var(--glow-dark) 0 0 20px;
}

.stars:hover i:nth-child(2) {
  transition-delay: 30ms;
}

.stars:hover i:nth-child(3) {
  transition-delay: 60ms;
}

.stars:hover i:nth-child(4) {
  transition-delay: 90ms;
}

.stars:hover i:nth-child(5) {
  transition-delay: 120ms;
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 36px;
	}
}
